* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#nav-section {
  background-image: url('/images/nav-background-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 100%;
}